html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  width: 70px;
  margin-left: 10%;
  /*margin-right: 15vw;*/ /* ajeitar para papar de quebrar nos ipads eu odeio a apple */
}

#header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 90px;
}

.headerPart {
  width: 30%;
}

.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: 'BBH Sans Bogle', sans-serif;
  margin: 0 20px;
  font-size: 3.2vh;
  position: relative;
  transition: color 0.3s;
}

.links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}


.links a:hover::after {
  width: 100%;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 24px;
  color: black;
  margin: 0 10px;
  transition: 0.3s;
}

.social a:hover {
  background-color: red;
  color: white;
}

.headerContent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#header button {
  display: none;
}

@media screen and (max-width: 768px) {
  .navBar {
    display: none;
  }
  .headerContent > .social {
    display: none;
  }

  .social a {
    display: none;
  }

  #header {
    justify-content: space-between;
  }

  #header button {
    display: flex;
    border: none;
    color: red;
    margin-right: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.89);
  }

  #header img {
    margin-left: 10px;
  }

#header button {
  display: block;
  position: relative;
  z-index: 1100;
  border: none;
  color: red;
  margin-right: 10px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.89);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(255,255,255,0.97);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  z-index: 1000;
  gap: 40px;
}

.mobile-menu .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobile-menu .social {
  display: flex;
  margin-top: 55vh;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

  .links {
    flex-direction: column;
  } 

}