body {
  max-width: 100vw;
}

.mapa-container {
  width: 100%;       /* ocupa toda a largura da tela */
  max-width: 100vw;   /* garante que não fique menor */
  margin: 20px 0;          /* remove qualquer margem */
}

.mapa-container iframe {
  width: 100%;        /* preenche o container */
  height: 450px;      /* altura do mapa */
  border: 0;          /* remove borda */ /* opcional, arredonda cantos */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.content span {
  color: red;
  font-size: 20px;
}
