body {
  background-color: rgb(255, 255, 255);
}

.planos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.planos span {
  color: red;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  color: black;
  text-align: center;
  background-color: white;
  box-shadow: rgb(190, 190, 190) 1px 1px 10px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  transition: 0.4s ease;
  overflow: hidden;
  margin: 0 5vw;
}

.card p {
  margin: 4px 0; /* reduz o espaço vertical entre os parágrafos */
  line-height: 1.2; /* aproxima as linhas dentro do mesmo parágrafo */
  font-size: 16px; /* opcional — define o tamanho da fonte */
}

.card p span {
  color: green;
  font-size: 20px;
}

.card p {
  display: flex;
}

.hire {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12%;
  font-family: 'BBH Sans Bogle'
}

.hire a {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.hire a:active {
  text-decoration: none;
  color: red;
  border:solid 1px red;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
